.available {
    background-color: green;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    height: 30px;
    border-radius: 25px;
    color: white;
}

.unavailable {
    background-color: darkorange;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    height: 30px;
    border-radius: 25px;
    color: white;
}